#headings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}
#navbar{
    display: flex;
    justify-content: space-between;
    gap :20px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
a:hover{
    color: gold;
}
#hero{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #1f2937;   
}
#hero-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}
#hero-text>heading{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
#hero-text>div{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
#hero>img{
    width: 15%;
    height: auto;
}
button{
    color:white;
    width: fit-content;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 12%;
}
#Learn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
#Learn-heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
#Learn-image{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content:space-evenly;
    align-items: center;
}
#Learn-image>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Learn-image>div>a>img{
    width: 400px;
    height: 250px;
    padding: 5px;
    margin: 10px;
    border: 2px solid #3882f6;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding: 50px 150px;
}
#quote{
    font-size: 36px;
    font-weight: lighter;
}
#quote+div{
    font-weight: bolder;
    font-size: large;
}
#call{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 100px;
    background-color: #3882f6;
    border-radius: 5px;
    width: auto;
    padding:20px;
}
#call-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: #e5e7eb;
}
#call>button{
    border: 1px solid white;
}
footer{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 10px;
    bottom: 0%;
    width: 100%;
    left: 0;
    right: 0;
}
